.each-book {
    padding: 10px;
    margin: 10px 0;
    background: rgba(255,255,255,0.8);
    transition: 0.3s ease all;
    &:hover {
        background:rgba(255,255,255,0.9);
    }
}

.remove-button {
padding-left: 12px;
cursor: pointer;
}

a {
    text-decoration: none;
    color: blue;
}

.remove-button {
    color: red;
}

button {
    border:none;
    background:none;
}