h1 {
    margin: 0 20px 20px;
    padding:20px;
    background: rgba(255,255,255,0.8);
    font-family: 'Didact Gothic', sans-serif;
    color: steelblue;
}

.add-book-link, .edit-book-link {
    border: 1px solid black;
    padding:10px;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: green;
    background: rgba(255,255,255,0.8);
}

